*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

body{
    background: url(./img/background.png);
}

.titulo{
    text-align: center;
    margin-bottom: 15px;
    font-weight: 500;
}

.container{
    background-color: rgba(43, 109, 141, 0.3);
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 100px auto  0;
}

.task{
    border: none;
    border-radius: 15px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
    font-size: 15px;
}

.add-task{
      border: none;
      border-radius: 15px;
      height: 40px;
      background-color: #003329;
      color: #fff;
      font-size: 17px;
      padding: 0 15px;
      float: right;
      cursor: pointer;
      font-weight: 100;
}

.add-task:hover{
    opacity: 0. 8;
}

.add-task:active{
    opacity: 0.5;
}

.list{
    width: 100%;
    list-style: none;
    margin-top: 40px;
}

.list-task{
    background-color: #f2f2f2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 10px;
    margin-bottom: 14px;
    cursor: pointer;
}

img{
    height: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}


    .list-task:hover img{
        opacity: 1;
}

.done{
    background-color: #8fac55;
    text-decoration: line-through;
}